// Homepage Post Feed Wrappers
.home-posts {
  display: flex;
  flex-direction: row;
}

.post-feed {
  width: 75%;
  padding-right: 1.5em;
}

.sidebar {
  width: 25%;
  padding-left: 1.5em;
}

// Post Styles
.blog-post {
  margin-bottom: 2em;

  // Anchor Tags
  a {
    color: #111;
    text-decoration: none;
  }

  // Title
  .post-title{
    color: #111;
    margin: 0 0 0.2em 0;
  }

  a.post-title{
    &:hover {
      color: $scss-accent-color;
    }

    > h2 {
      margin: 0 0 0.2em 0;
    }
  }

  // Date
  .post-date {
    margin: 0 0 0.5em 0;
  }

  // Category List
  ul.post-categories {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;

    > li + li {
      margin-left: 0.5em;
    }

    > li + li:before {
      content: "//";
      margin-right: 0.5em;
    }

    li a:hover {
      color: $scss-accent-color;
    }
  }

  // Featured Image
  .post-thumbnail {
    //margin: auto;
    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

// Sidebar
.sidebar .widget {
  border: solid 1px #111;
  border-radius: 1em 0 1em 0;
  overflow: hidden;
  margin-bottom: 2em;

  .widget-title {
    background: $scss-primary-color;
    border-bottom: solid 1px $scss-accent-color;
    //border-radius: 1em 0 0 0;
    color: $scss-primary-text-color;
    padding: 0.2em 0 0.2em 5%;
    margin-top: 0;
  }

  .widget-body {
    padding: 0 5% 0 5%;

    ul {
      color: #111;
      list-style: none;
      text-decoration: none;
      padding: 0;

      li {
        a {
          color: #111;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: $scss-accent-color;
          }
        }

        > .post-date:before {
          content: " - ";
        }
      }
    }
  }
}

// Comment Styles
.comment {
  $comment-padding: 0.5em;
  max-width: 720px;
  list-style: none;

  .comment-meta {
    background: $scss-primary-color;
    color: $scss-primary-text-color;
    padding: $comment-padding;
    border: solid #111 1px;

    .comment-author {
      display: inline-block;
    }

    .comment-metadata {
      float: right;
      a { color: $scss-primary-text-color; }
      .comment-edit-link:before { content: " - "; }
    }

    .comment-awaiting-moderation {
      font-style: italic;
    }
  }

  .comment-content {
    padding-left: $comment-padding;
  }

  .reply {
    padding: 0 0 $comment-padding $comment-padding;
    font-weight: bold;

    a:hover {
      color: $scss-accent-color;
    }
  }
}
