// Footer Styles
.origin-footer {
  background: $scss-primary-color;
  border-top: solid #000;
  color: $scss-primary-text-color;
  .footer-wrapper { flex-grow: 1 };
}

// TODO: Cleanup code to cut down nesting!

// Footer Widgets
.footer-bar {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: $scss-primary-text-color;

  .widget {
    flex: 1 1 auto;
    margin: 1em 0.5em 1em 0.5em;

    .widget-title {
      background: $scss-primary-color;
      color: $scss-primary-text-color;
      padding: 0 5% 0 5%;
      margin: 0;
    }

    .widget-body {
      padding: 0 5% 0 5%;
      
      .textwidget {
        max-width: 20em;
      }

      p {
        text-align: left;
      }

      ul {
        list-style: none;
        text-decoration: none;
        padding: 0;

        li {
          a {
            color: $scss-primary-text-color;
            text-decoration: none;
            font-weight: bold;

            &:hover {
              color: $scss-accent-color;
            }
          }

          > .post-date:before {
            content: " - ";
          }
        }
      }
    }

    // Nav (Footer Menu)
    .menu-nav-menu-container ul {
      display: flex; flex-direction: column; list-style: none; white-space: nowrap;
      .sub-menu { display: none; } // hide sub-menus
      li a {
        padding-left: 0.5em;
      }
      > li > a {
        color: $scss-primary-text-color;
        border-left: solid 0.1em $scss-primary-text-color;
        &:hover{
          border-left: solid 0.1em $scss-accent-color;
          color: $scss-accent-color;
        }
      }
    }

  }
}
