// Header Styles
.origin-header {
  display: flex;
  flex-direction: column;
}
.top-bar { width: 100%; display: flex; flex-direction: row; }

// Social Media Icons
.icon-outer-wrapper {
  flex: 1;
  display: inline-grid;
  text-align: center;
  padding: 0.5em;
  background: $scss-secondary-color;

  .header-icon {
    color: $scss-nav-text-color;
    grid-row: 1;
    font-size: 1.25em;

    &:hover { color: $scss-accent-color; }
    + .header-icon { margin-left: 1em; }
  }
}

// Nav (Main Menu) TODO: Clean this mess!
.top-bar > nav { flex: 3; }
.top-nav { // nav menu
  flex-grow: 1; display: flex; flex-direction: row; width: 100%; padding: 0; margin: 0; height: 100%;

  > li { // menu item
    display: block; flex: 1 1 auto; height: 100%; position: relative;
    &:hover > .sub-menu { display: block; }

    > a {
      display: block;
      text-align: center;
      padding: 0.5em;
      color: $scss-nav-text-color;
      background: $scss-secondary-color;
      border-bottom: solid 0.3em $scss-secondary-color;

      &:hover { border-bottom: solid 0.3em $scss-accent-color; }
    }
  }

  > .current_page_item > a { // current page
    border-bottom: solid 0.3em $scss-accent-color;
  }

  .sub-menu { // child menu
    position: absolute; list-style: inside none; padding-left: 0; display: none; width: 100%;

    > li { // child menu item
      display: flex; width: 100%;
      > a {
        padding: 0.5em;
        color: $scss-nav-text-color;
        background: $scss-secondary-color;
        border-left: solid 0.2em $scss-secondary-color;

        &:hover { border-left: solid 0.2em $scss-accent-color; }
      }
    }

    > .current_page_item > a { // current page
      border-left: solid 0.2em $scss-accent-color;
    }
  }
}

// Logo
.logo-wrapper {
  background: $scss-primary-color;
  text-align: center;
  padding: 1em 2em 1em 2em;
}
