header { display: flex; flex-direction: column; }
header > nav { flex: 1 0 auto; }
.top-bar { width: 100%; display: flex; flex-direction: row; }

// Social Media Icons
.icon-outer-wrapper { flex: 1; display: inline-grid; text-align: center; padding: 0.5em; }
.header-icon { grid-row: 1; font-size: 1.25em; }
.header-icon + .header-icon { margin-left: 1em; }

// Nav (Main Menu)
.top-bar > nav{ flex: 3; }
.top-nav { flex-grow: 1; display: flex; flex-direction: row; width: 100%; padding: 0; margin: 0; height: 100%; }
.top-nav > li { display: block; flex: 1 1 auto; height: 100%; position: relative; }
.top-nav li:hover > .sub-menu { display: block; }
.top-nav > li > a {display: block; text-align: center; padding: 0.5em; }
.sub-menu { position: absolute; list-style: inside none; padding-left: 0; display: none; width: 100%; }
.sub-menu > li { display: flex; width: 100%; }
.sub-menu > li > a { padding: 0.5em; }

// Logo
.logo-wrapper {
  text-align: center;
  padding: 1em 2em 1em 2em;
}
