// Base Widget Styles
.widget-title {
  color: $scss-primary-text-color;
}
.widget-body {
  padding: 0 5% 0 5%;
}
.textwidget p {
  font-size: 1em;
  text-align: justify; 
}
.widget ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  li a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $scss-accent-color;
    }
  }
  .post-date:before {
      content: " - ";
  }
}