@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "customize";

html, body {
  margin: 0;
  color: #111;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cy-main {
  width: 80%;
  margin: auto;
  flex: 1 0 auto;
  padding: 2em 2em 1em 2em;
}

.cy-main--sidebar {
  display: flex;
  flex-direction: row;

  .post-feed, .page-content {
    width: 75%;
    padding-right: 1.5em;
  }
}

// Woocommerce - Start
.single-product .cy-main--shop .product {
  width: auto;
  min-width: 400px;
  display: flex;

  .cy-product-summary {
    flex: 1 1 auto;
    .summary {
      width: auto;
      float: none;
    }
  }
}

.woocommerce-tabs {
  display: inline-block;
  width: 100%;
}
// Woocommerce - End

@import "header";
@import "footer";
@import "page";
@import "blog";
@import "widget";
@import "sidebar";
@import "media";
