@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "customize";

html, body {
  margin: 0;
  color: #111;
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p { text-align: justify; }

.origin-nav {
  list-style: none;
  font-weight: bold;
  li a { text-decoration: none; }
}

main {
  flex: 1 0 auto;
  padding: 2em 2em 1em 2em;
}

@import "header";
@import "footer";
@import "blog";
