@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body {
  margin: 0;
  color: #111;
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  text-align: justify;
}
header, footer {
  color: #000;
}
.origin-nav {
  list-style: none;
  font-weight: bold;
}
.origin-nav li a {
  text-decoration: none;
}
main {
  flex: 1 0 auto;
  padding: 1em 2em 1em 2em;
}
.origin-header {
  display: flex;
  flex-direction: column;
}
.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.icon-outer-wrapper {
  flex: 1;
  display: inline-grid;
  text-align: center;
  padding: 0.5em;
  background: #000;
}
.icon-outer-wrapper .header-icon {
  color: #fff;
  grid-row: 1;
  font-size: 1.25em;
}
.icon-outer-wrapper .header-icon:hover {
  color: #d93;
}
.icon-outer-wrapper .header-icon + .header-icon {
  margin-left: 1em;
}
.top-bar > nav {
  flex: 3;
}
.top-nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}
.top-nav > li {
  display: block;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}
.top-nav > li:hover > .sub-menu {
  display: block;
}
.top-nav > li > a {
  display: block;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  background: #000;
  border-bottom: solid 0.3em #000;
}
.top-nav > li > a:hover {
  border-bottom: solid 0.3em #d93;
}
.top-nav > .current_page_item > a {
  border-bottom: solid 0.3em #d93;
}
.top-nav .sub-menu {
  position: absolute;
  list-style: inside none;
  padding-left: 0;
  display: none;
  width: 100%;
}
.top-nav .sub-menu > li {
  display: flex;
  width: 100%;
}
.top-nav .sub-menu > li > a {
  padding: 0.5em;
  color: #fff;
  background: #000;
  border-left: solid 0.2em #000;
}
.top-nav .sub-menu > li > a:hover {
  border-left: solid 0.2em #d93;
}
.top-nav .sub-menu > .current_page_item > a {
  border-left: solid 0.2em #d93;
}
.logo-wrapper {
  background: #d33;
  text-align: center;
  padding: 1em 2em 1em 2em;
}
.origin-footer {
  display: flex;
  flex-direction: row;
  background: #d33;
}
.origin-footer .footer-wrapper {
  flex-grow: 1;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 1em 2em;
  list-style: none;
  margin: 0;
  white-space: nowrap;
}
.footer-nav .sub-menu {
  display: none;
}
.footer-nav li a {
  padding-left: 0.5em;
}
.footer-nav > li > a {
  color: #000;
  border-left: solid 0.1em #000;
}
.footer-nav > li > a:hover {
  border-left: solid 0.1em #d93;
  color: #d93;
}
.footer-text {
  padding: 0em 2em 1em 2em;
}
.home-posts {
  display: flex;
  flex-direction: row;
}
.post-feed {
  width: 67%;
  padding-right: 1.5em;
}
.sidebar {
  height: 33%;
  padding-left: 1.5em;
}
.blog-post a {
  color: #111;
  text-decoration: none;
}
.blog-post h2.post-title {
  color: #111;
  margin: 1em 0 0.2em 0;
}
.blog-post a.post-title:hover {
  color: #d93;
}
.blog-post a.post-title > h2 {
  margin: 1em 0 0.2em 0;
}
.blog-post .post-date {
  margin: 0 0 0.5em 0;
}
.blog-post ul.post-categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.blog-post ul.post-categories > li + li {
  margin-left: 0.5em;
}
.blog-post ul.post-categories > li + li:before {
  content: "//";
  margin-right: 0.5em;
}
.blog-post ul.post-categories li a:hover {
  color: #d93;
}
.blog-post .post-thumbnail {
  width: 50%;
}
.blog-post .post-thumbnail img {
  width: 100%;
  height: auto;
}
.sidebar .widget ul {
  color: #111;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.sidebar .widget ul > li > a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}
.sidebar .widget ul > li > a:hover {
  color: #d93;
}
.sidebar .widget ul > li > .post-date:before {
  content: " - ";
}
.comment {
  max-width: 720px;
  list-style: none;
  border: solid #111 1px;
}
.comment .comment-meta {
  background: #d33;
  padding: 0.5em;
}
.comment .comment-meta .comment-author {
  display: inline-block;
}
.comment .comment-meta .comment-metadata {
  float: right;
}
.comment .comment-meta .comment-awaiting-moderation {
  font-style: italic;
}
.comment .comment-content {
  padding-left: 0.5em;
}
.comment .reply {
  padding: 0 0 0.5em 0.5em;
  font-weight: bold;
}
.comment .reply a:hover {
  color: #d93;
}
